@import "./utils/variables", "./utils/mixins", "./utils/keyframes.scss", "./utils/functions";
@import "./layout/header.scss","./layout/menu.scss", "./layout/about.scss" , "./layout/operation.scss","./layout/maps.scss" , "./layout/footer.scss","./layout/restaurant.scss" ,"./layout/loader.scss";

* {
  box-sizing: border-box;
}

body, html {
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-size: 1rem;
}

a {
    text-decoration: none;
    color: #000;
}

li {
    list-style-type: none;
}