*, 
*:before, 
*:after {
    box-sizing: inherit;
}

body, html {
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  max-width: 2000px;
  font-size: 1rem;
  box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #000;
}

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

header {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.logo {
        padding: 20px 0px 20px 0px;
        width: 150px;
}

$grey-maps: #eaeaea;

.maps {
    @include flex-center;
    background: $grey-maps;
    &__search {
        &>input {
            border: none;
            background: $grey-maps;
            font-size: 1rem;
            padding: 20px 5px;
            text-align: center;
            width: 150px;
        }
        
    }
}