.about {
    padding: 2rem;
    text-align: center;
    background-color: $grey-about;
    >h1 {
        font-size: 1.5em;
        @include desktop{
            font-size: 1.8rem;
        }
    }
     p {
        @include desktop{
            font-size: 1.4rem;
            padding: 3rem;
            margin: 0;
        }
        @include large {
            font-size: 1.6rem;
            padding: 4rem;
        }
     }
}
