.operation {
    padding: 15px;
}
.operation__steps {
    padding: 0px;
    color: rgb(0 0 0);
    font-weight: bold;
    &>ul {
        margin-block-start: 1em;
        margin-block-end: 1em;   
    }
    &>li {
        @include border;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: nowrap;
        padding: 25px;
        margin: 15px 0px 15px 0px;
        border-radius: 20px;
        background-color: $grey-about;
        }
    &--number {
        background-color: $color-primary;
        color: white;
        border-radius: 50%;
        padding: 5px 9px;
        margin-left: -37px;
        }
    &--icon {
        padding-left: 15px;
        padding-right: 10px;
        color: #7e7e7e;
    }
}