.restaurants {
    background-color: $grey-about;
    padding: 15px;
    @include desktop{
      padding: 25px;
      margin-bottom: 10px;
    }
}
.restaurants__title {
  @include desktop {
    text-align: center;
    text-decoration: underline $color-primary;
    padding-bottom: 10px;
    margin-top: 0;
  }
}

.cards {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  column-gap: 2rem;
  row-gap: 2rem;
  @include desktop {
    grid-template-columns: repeat(2,1fr);
  }
}

.card {
  background-color: white;
  border-radius: 1rem;
  position: relative;
  text-decoration: none;
  color: inherit;
  display: block;
  box-shadow: 4px 4px 6px #aaa;
  &:hover{
    box-shadow: 4px 4px 6px $color-primary;
  }

  &__img {
    height: 12rem;
    width: 100%;
    border: transparent solid 0px;
    border-radius: 1rem 1rem 0 0;
    box-shadow: none;
    object-fit: cover;
  }



  &__footer {
    padding: 1rem;
    position: relative;
    display: flex;
    align-items: center;
  }

  &__content {
    flex: 1;
  }

  &__title {
    margin: 0;
    margin-bottom: 0.25rem;
  }

  &__subtitle {
    margin: 0;
  }

  &__like {
    background-color: white!important;
  }
}