@keyframes grow {
  0%, 100% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }
  50% {
    -webkit-transform: scaleY(1.8);
    transform: scaleY(1.8);
  }
}
@keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes loader {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
@keyframes itemAppear {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
.header {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.logo {
  padding: 20px 0px 20px 0px;
  width: 150px;
}

.header-title {
  display: flex;
  align-items: center;
  height: 70px;
  justify-content: center;
}

.backhome {
  left: 25px;
  position: absolute;
  color: #353535;
  font-size: 1.2rem;
}

.heroImg {
  max-width: 100%;
  max-height: 32rem;
  width: 100%;
  object-fit: cover;
}

.menu {
  margin-top: -4rem;
  border-radius: 2rem 2rem 0 0;
  background-color: #f6f6f6;
  z-index: 1;
  position: relative;
}
.menu__header {
  padding: 1rem 2rem 0 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}
.menu__title {
  font-family: "Shrikhand", "cursive";
}
.menu__btn {
  height: 2rem;
  width: 2rem;
  background-color: transparent;
  border: transparent 0px solid;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
  background-color: black;
}
.menu__btn:hover::before {
  opacity: 1;
}
.menu__btn::before {
  opacity: 0;
  transition: 0.5s;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(0deg, #9356DC 0%, #FF79DA 100%);
}
.menu__like {
  transition-duration: 0.25s;
  background-color: #f6f6f6;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  mix-blend-mode: lighten;
}
.menu__btn:hover .menu__like--noBg {
  opacity: 0;
}

.submenus {
  display: grid;
}
@media screen and (min-width: 1024px) {
  .submenus {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2rem;
  }
}

.submenu {
  max-width: 100%;
  overflow: hidden;
  padding: 0 1rem;
}
.submenu__title {
  text-transform: uppercase;
  position: relative;
  padding-bottom: 0.5rem;
  font-weight: normal;
}
.submenu__title::after {
  content: "";
  width: 3rem;
  height: 0.25rem;
  background-color: #99E2D0;
  position: absolute;
  left: 0;
  bottom: 0;
}

.menuItem {
  background-color: white;
  padding: 1rem;
  display: flex;
  border-radius: 0.75rem;
  margin: 1rem 0;
  box-shadow: 4px 4px 6px #aaa;
  overflow: hidden;
  cursor: pointer;
  animation: itemAppear 0.6s;
  animation-timing-function: cubic-bezier(0.5, 1.58, 0.34, 0.82);
  animation-fill-mode: both;
  transform: scale(0);
  max-width: 100%;
}
.menuItem__header {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  flex: 1;
  align-items: flex-start;
  font-size: 0.8rem;
}
.menuItem__title {
  font-size: 0.875rem;
  margin: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.menuItem__description {
  margin: 0px;
  margin-top: 2px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 0.75rem;
}
.menuItem__price {
  font-weight: bold;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  font-size: 0.8rem;
  padding-left: 0.5rem;
}
.menuItem__confirmation {
  background-color: #99E2D0;
  margin: -1rem -5rem -1rem 1rem;
  width: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-duration: 0.5s;
}
.menuItem:hover .menuItem__confirmation {
  margin-right: -1rem;
}
.menuItem__wrapIcon {
  height: 1.6rem;
  width: 1.6rem;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  transform: rotate(180deg);
  transition-duration: 0.5s;
}
.menuItem:hover .menuItem__wrapIcon {
  transform: rotate(0);
}
.menuItem__icon {
  color: #99E2D0;
}

.delay-0 {
  animation-delay: 0s;
}

.delay-1 {
  animation-delay: 0.1s;
}

.delay-2 {
  animation-delay: 0.2s;
}

.delay-3 {
  animation-delay: 0.3s;
}

.delay-4 {
  animation-delay: 0.4s;
}

.delay-5 {
  animation-delay: 0.5s;
}

.delay-6 {
  animation-delay: 0.6s;
}

.delay-7 {
  animation-delay: 0.7s;
}

.delay-8 {
  animation-delay: 0.8s;
}

.wrapBtn {
  display: flex;
  text-decoration: none;
  justify-content: center;
  padding: 3rem 0;
}

.commandBtn {
  border: 0;
  padding: 0.75rem 1.5rem;
  font-weight: 500;
  font-size: 1.1rem;
  border-radius: 100px;
  color: #fff;
  background-color: #686868;
  background-image: linear-gradient(351deg, rgba(147, 86, 220, 0.9), rgba(255, 121, 218, 0.9));
  transition-duration: 0.25s;
  box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

.about {
  padding: 2rem;
  text-align: center;
  background-color: #f6f6f6;
}
.about > h1 {
  font-size: 1.5em;
}
@media screen and (min-width: 1024px) {
  .about > h1 {
    font-size: 1.8rem;
  }
}
@media screen and (min-width: 1024px) {
  .about p {
    font-size: 1.4rem;
    padding: 3rem;
    margin: 0;
  }
}
@media screen and (min-width: 1440px) {
  .about p {
    font-size: 1.6rem;
    padding: 4rem;
  }
}

.operation {
  padding: 15px;
}
@media screen and (min-width: 1024px) {
  .operation {
    padding: 0;
  }
}
@media screen and (min-width: 1024px) {
  .operation h2 {
    margin: 0;
    padding: 1rem 1rem 1rem 1rem;
    text-align: center;
    background-color: #eaeaea;
    box-shadow: inset 0px 5px 5px 0px #dddddd;
    height: 63px;
  }
}

.operation__steps {
  padding: 0px;
  color: black;
  font-weight: bold;
}
@media screen and (min-width: 768px) {
  .operation__steps {
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (min-width: 1024px) {
  .operation__steps {
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.operation__steps > ul {
  margin-block-start: 1em;
  margin-block-end: 1em;
}
.operation__steps > li {
  border: 1px solid transparent;
  margin-block-start: 1em;
  margin-block-end: 1em;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  padding: 25px;
  margin: 15px 0px 15px 0px;
  border-radius: 20px;
  background-color: #f6f6f6;
  box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.13);
}
.operation__steps > li:hover {
  background: #f2eafb;
}
@media screen and (min-width: 1024px) {
  .operation__steps > li {
    width: 90%;
    border: 2px solid rgba(147, 86, 220, 0.77);
  }
}
@media screen and (min-width: 768px) {
  .operation__steps > li {
    margin: 15px 30px 15px 0px;
  }
}
.operation__steps--number {
  background-color: #9356DC;
  color: white;
  border-radius: 50%;
  padding: 5px 9px;
  margin-left: -37px;
}
@media screen and (min-width: 1024px) {
  .operation__steps--number {
    margin-left: -39px;
  }
}
.operation__steps--icon {
  padding-left: 15px;
  padding-right: 10px;
  color: #7e7e7e;
}
.operation__steps--icon:hover {
  color: #9356DC;
}
@media screen and (min-width: 1024px) {
  .operation__steps--icon {
    padding-left: 20px;
    padding-right: 90px;
  }
}

.maps {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #eaeaea;
  box-shadow: inset 0px 5px 5px 0px #dddddd;
}
.maps__search > input {
  border: none;
  background: #eaeaea;
  font-size: 1rem;
  padding: 20px 5px;
  margin-top: 5px;
  text-align: center;
  width: 150px;
}

footer {
  background-color: #353535;
  padding: 25px;
  color: white;
}
footer:hover {
  color: #FF79DA;
}
footer h3 {
  font-family: "Shrikhand", "sans-serif";
  margin: 0px;
  font-size: 1.2rem;
  font-weight: 500;
}
@media screen and (min-width: 768px) {
  footer h3 {
    display: flex;
    justify-content: center;
  }
}
footer ul {
  list-style-type: none;
  padding: 0px;
}
@media screen and (min-width: 768px) {
  footer ul {
    display: flex;
    justify-content: space-evenly;
  }
}
footer ul > li {
  padding: 5px 0 5px 0;
}
footer ul > li a {
  color: white;
}
footer ul > li a:hover {
  color: #FF79DA;
}

.fa-utensils {
  margin-right: 12px;
}

.fa-hands-helping {
  margin-right: 5px;
}

.restaurants {
  background-color: #f6f6f6;
  padding: 15px;
}
@media screen and (min-width: 1024px) {
  .restaurants {
    padding: 25px;
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1024px) {
  .restaurants__title {
    text-align: center;
    text-decoration: underline #9356DC;
    padding-bottom: 10px;
    margin-top: 0;
  }
}

.cards {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  column-gap: 2rem;
  row-gap: 2rem;
}
@media screen and (min-width: 1024px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

.card {
  background-color: white;
  border-radius: 1rem;
  position: relative;
  text-decoration: none;
  color: inherit;
  display: block;
  box-shadow: 4px 4px 6px #aaa;
}
.card__img {
  height: 12rem;
  width: 100%;
  border: transparent solid 0px;
  border-radius: 1rem 1rem 0 0;
  box-shadow: none;
  object-fit: cover;
}
.card__footer {
  padding: 1rem;
  position: relative;
  display: flex;
  align-items: center;
}
.card__content {
  flex: 1;
}
.card__title {
  margin: 0;
  margin-bottom: 0.25rem;
}
.card__subtitle {
  margin: 0;
}
.card__like {
  background-color: white !important;
}

.loader {
  background: linear-gradient(to left, #9356dc, #b35cdc, #cf64dc, #e86edb, #ff79da);
  width: 100%;
  height: 100%;
  line-height: 100%;
  font-family: Shrikhand, sans-serif;
  font-size: x-large;
  vertical-align: middle;
  text-align: center;
  position: fixed;
  z-index: 9999;
  pointer-events: none;
  animation: loader 1s ease-in-out 3s forwards;
}
@media screen and (min-width: 768px) {
  .loader {
    font-size: xx-large;
  }
}
.loader__food {
  vertical-align: middle;
  position: absolute;
  top: 40%;
  left: 20%;
}
@media screen and (min-width: 768px) {
  .loader__food {
    left: 35%;
  }
}
@media screen and (min-width: 1024px) {
  .loader__food {
    top: 30%;
    left: 40%;
  }
}
.loader__food span {
  display: inline-block;
  width: 5px;
  height: 20px;
  padding-right: 1em;
}

.loader__fork {
  vertical-align: middle;
  position: absolute;
  top: 50%;
  left: 30%;
  animation: rotate 1s linear infinite;
}
@media screen and (min-width: 768px) {
  .loader__fork {
    left: 40%;
  }
}
@media screen and (min-width: 1024px) {
  .loader__fork {
    top: 40%;
  }
}
.loader__fork-img {
  width: 150px;
}
@media screen and (min-width: 1024px) {
  .loader__fork-img {
    width: 250px;
  }
}

.loader__food span:nth-child(1) {
  animation: grow 1s ease-in-out infinite;
}

.loader__food span:nth-child(2) {
  animation: grow 1s ease-in-out 0.15s infinite;
}

.loader__food span:nth-child(3) {
  animation: grow 1s ease-in-out 0.15s infinite;
}

.loader__food span:nth-child(4) {
  animation: grow 1s ease-in-out 0.15s infinite;
}

.loader__food span:nth-child(5) {
  animation: grow 1s ease-in-out 0.15s infinite;
}

.loader__food span:nth-child(6) {
  animation: grow 1s ease-in-out 0.15s infinite;
}

.loader__food span:nth-child(7) {
  animation: grow 1s ease-in-out 0.15s infinite;
}

.loader__food span:nth-child(8) {
  animation: grow 1s ease-in-out 0.15s infinite;
}

.btn__about > button {
  border: 1px solid transparent;
  padding: 0.75rem 1.5rem;
  font-weight: 500;
  font-size: 1.1rem;
  border-radius: 100px;
  color: #fff;
  background-image: linear-gradient(to left, #9356dc, #b35cdc, #cf64dc, #e86edb, #ff79da);
  box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.25);
}
.btn__about > button:hover {
  background-color: #ae80e5;
  background-blend-mode: lighten;
  box-shadow: 4px 4px 6px #000;
}
@media screen and (min-width: 1024px) {
  .btn__about > button {
    width: 400px;
    height: 65px;
    font-size: 1.4rem;
  }
}

.card__badge {
  background-color: #99E2D0;
  color: #139273;
  padding: 0.5rem;
  font-weight: bold;
  border-radius: 0.125rem;
  position: absolute;
  top: 1rem;
  right: 0.75rem;
}

* {
  box-sizing: border-box;
}

body, html {
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-size: 1rem;
}

a {
  text-decoration: none;
  color: #000;
}

li {
  list-style-type: none;
}

@media screen and (min-width: 1024px) {
  .desktop {
    display: grid;
    grid-template-columns: 50% 50%;
    border-bottom: 5px solid #9356dc;
    box-shadow: 1em 0 0 #666;
    background-color: #f6f6f6;
  }
}

@media screen and (min-width: 1024px) {
  .reservation {
    grid-column-start: 1;
    border-right: 3px solid #dddddd;
  }
}

@media screen and (min-width: 1024px) {
  .function {
    grid-column-start: 2;
  }
}

/*# sourceMappingURL=style.css.map */
