@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin border {
    border: 1px solid transparent;
    margin-block-start: 1em;
    margin-block-end: 1em;
}

@mixin tablet {
  @media screen and (min-width:map-get($breakpoints, tablet)){
    @content;
  }
}
@mixin desktop {
  @media screen and (min-width:map-get($breakpoints, desktop)){
    @content;
  }
}
@mixin large {
  @media screen and (min-width:map-get($breakpoints, large)){
    @content;
  }
}

@mixin medium-screen {
  @media screen and (min-width: map-get($breakpoints, medium)) {
    @content;
  }
}